/* CSS Document */
h1 {
	font: 22px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #175884;
	padding-left: 40px;
	}

h2 {
	font: 20px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #175884;
	padding-left: 40px;
	}

a {
	color: #3366CC;
	text-decoration: underline;
	}

a:hover {
	color: #3366CC;
	text-decoration: none;
	}

#top {
	width: 100%;
	background-image: url(img/top.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	}

#brand {
	float: right;
	width: 14%;
	margin-right: 10%;
	}

#title {
	font: 36px Arial, Helvetica, sans-serif;
	color: #000;
	line-height: 80px;
	margin-left: 7%;
	}

#navtop {
	clear: both;
	width: 100%;
	height: 40px; 
	padding-top: 3px;
	background: #4682B4;
	-moz-opacity: 0.9;
	opacity: 0.9;
	filter: alpha(opacity=90);
	}

#main {
	position: relative;
	width: 1000px;
	left: 50%;
    margin-left: -500px;
	}

#bottom {
	width: 80%;
	height: 120px;
	padding-left: 20%;
	background-color: #E6E6FA;
}

.toplist {
	text-align: center;
	margin: 0px;
	padding: 4px;
	list-style: none;
	}
	.toplist li {
	display: inline;
	font: 22px Calibri;
	color: #FFFFFF;
	padding: 20px;
	}
	.toplist li:hover {
	color: #000;
	cursor: pointer;
}

.main {
	font: 16px Arial, Helvetica, sans-serif;
	color: #000;
	line-height: 22px;
	margin: 10px;
	text-align: justify;
	text-indent: 30px;
}

.rys {
	width: 600px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 5px;
}

.subottom {
	float: left;
	width: 25%;
	height: 80px;
	text-align: left;
	font: 15px Arial, Helvetica, sans-serif;
	color: #000000;
	line-height: 22px;
	margin: 20px;
}